@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Raleway:400,800|Source+Sans+Pro:300,400,600,700");
.landingPage-wrapper {
  background: url(../images/pink_bg.jpg) no-repeat;
  height: auto;
  background-size: 150%;
  background-position: 60% 65%;
}
.landingPage-wrapper .navbar-brand {
  margin-top: 15px;
}
.landingPage-wrapper .navbar-brand .logo {
  width: 100%;
}
.landingPage-wrapper .navbar-block {
  margin-top: 35px;
}

.head-navbar-mod .navbar-collapse.navbar-align-right {
  justify-content: flex-end;
}

.navbar-brand {
  width: 180px;
}

.head-navbar-mod.navbar-light .navbar-nav {
  align-items: center;
}
.head-navbar-mod.navbar-light .navbar-nav .nav-link {
  color: #FFFFFF;
  padding: 5px 15px;
  font-size: 16px;
  letter-spacing: 2px;
}
.head-navbar-mod.navbar-light .navbar-nav .nav-link:hover {
  background: rgba(255, 255, 255, 0.2);
}
.head-navbar-mod.navbar-light .navbar-nav .active > .nav-link {
  color: #FFFFFF;
  background: rgba(255, 255, 255, 0.2);
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
}

.landing-page-content .jumbotron .lead, .footer-list-block .footer-title {
  font-weight: 600;
  font-style: normal;
}

.head-navbar-mod.navbar-light .navbar-nav .nav-link, .btn.btn-primary {
  font-weight: 700;
  font-style: normal;
}

.head-navbar-mod.navbar-light .navbar-nav .nav-link, .head-navbar-mod.navbar-light .navbar-nav .nav-link:hover, .navbar-toggler, .navbar-toggler:hover, .campaign-slider-block .owl-carousel .owl-nav, .campaign-slider-block .owl-carousel:hover .owl-nav, .footer-list-block .footer-title, .footer-list-block .footer-title:hover, .social-listing li .icon, .social-listing li .icon:hover {
  -webkit-transition: linear .3s;
  -moz-transition: linear .3s;
  -ms-transition: linear .3s;
  -o-transition: linear .3s;
  transition: linear .3s;
}

.head-navbar-mod.navbar-light .navbar-nav .nav-link, .btn.btn-primary, .navbar-toggler {
  text-transform: uppercase;
}

.btn {
  background: #2869FF;
  border-radius: 3px;
  width: auto;
  font-size: 16px;
  color: #FFFFFF;
}
.btn.btn-primary {
  padding: 5px 25px;
  letter-spacing: 2px;
}

.landing-page-content .jumbotron {
  background: none;
}
.landing-page-content .jumbotron .display-3 {
  font-family: 'Raleway', sans-serif;
  font-size: 56px;
  color: #FFFFFF;
  font-weight: 800;
}
.landing-page-content .jumbotron .lead {
  color: #FFFFFF;
}
.landing-page-content .jumbotron .lead .link-text {
  color: #FFFFFF;
}
.landing-page-content .jumbotron .lead .link-text:hover {
  text-decoration: none;
}
.landing-page-content .jumbotron .lead.jumbotron-btn {
  margin-top: 35px;
}
.landing-page-content .jumbotron .lead.jumbotron-btn .btn-lg {
  padding: 10px 75px;
}
.landing-page-content .jumbotron .sub-title {
  font-size: 18px;
  width: 70%;
}

.underlined-text {
  text-decoration: underline;
}

.navbar-toggler {
  background: #2869FF;
  padding: 10px 25px;
  margin-top: 65px;
  border-radius: 3px;
}
.navbar-toggler .navbar-toggler-text {
  color: #FFFFFF;
}

.campaign-slider-block {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
  max-width: 370px;
  margin: 0 15px;
}
.campaign-slider-block .slider-title {
  padding: 10px 10px;
  font-size: 18px;
  margin: 0;
}
.campaign-slider-block .owl-carousel {
  background: #D4B6C1;
  list-style: none;
  margin-bottom: 0;
}
.campaign-slider-block .owl-carousel .owl-nav {
  position: absolute;
  top: 0;
  margin: 0;
  width: 100%;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  visibility: hidden;
  opacity: 0;
}
.campaign-slider-block .owl-carousel:hover .owl-nav {
  visibility: visible;
  opacity: 1;
}
.campaign-slider-block .owl-carousel .owl-stage-outer {
  background: #D4B6C1;
  padding: 10px 0 10px 9px;
}
.campaign-slider-block .owl-carousel .owl-item img {
  border-radius: 5px;
}
.campaign-slider-block .link-text {
  font-size: 18px;
  margin: 5px 0;
  display: inline-block;
}

.campaign-updates-mod {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 20px;
}

.message-block {
  display: flex;
  width: 70%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.message-block .message-container {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
  max-width: 370px;
  margin: 15px;
  padding: 15px;
}
.message-block .message-container.typing-mod {
  width: 100px;
  margin-bottom: 0;
}
.message-block .message-container.context {
  position: relative;
  font-size: 16px;
  color: #000;
  line-height: 18px;
  padding: 10px;
}

.landing-page-footer {
  background: #333333;
  color: #FFFFFF;
  padding: 20px 0px 20px;
}
.landing-page-footer .copyright {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
}

.footer-list-block {
  margin: 20px 0;
}
.footer-list-block .footer-list {
  list-style: none;
  display: block;
}
.footer-list-block .footer-list .footer-link {
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
}
.footer-list-block .footer-title {
  font-size: 16px;
  margin: 0;
  color: rgba(255, 255, 255, 0.9);
}
.footer-list-block .list-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-list-block .list-head[aria-expanded=true] .icon {
  display: none;
}
.footer-list-block .list-head[aria-expanded=true] + .footer-list {
  display: block;
}
.footer-list-block .list-head[aria-expanded=false] + .footer-list {
  display: block;
}
.footer-list-block .list-head .icon {
  color: rgba(255, 255, 255, 0.6);
  display: none;
}

.social-listing {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
}
.social-listing li .icon {
  font-size: 16px;
  border-radius: 50%;
  border: solid 1px #FFFFFF;
  padding: 5px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-listing li .icon:hover {
  background: #2869FF;
  border-color: #2869FF;
}

@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?3377455");
  src: url("../font/fontello.eot?3377455#iefix") format("embedded-opentype"), url("../font/fontello.woff2?3377455") format("woff2"), url("../font/fontello.woff?3377455") format("woff"), url("../font/fontello.ttf?3377455") format("truetype"), url("../font/fontello.svg?3377455#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?3377455#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-minus:before, .footer-list-block .list-head[aria-expanded=true] .icon:before {
  content: '\e800';
}

/* '' */
.icon-plus:before {
  content: '\e801';
}

/* '' */
.icon-twitter:before {
  content: '\f099';
}

/* '' */
.icon-facebook:before {
  content: '\f09a';
}

/* '' */
.icon-youtube:before {
  content: '\f167';
}

/* '' */
.icon-instagram:before {
  content: '\f16d';
}

/* '' */
@media (max-device-width: 1024px) {
  .landingPage-wrapper {
    min-height: 70vh;
    height: auto;
    background-size: 300%;
    background-position: 51% 68%;
  }
  .landingPage-wrapper .container {
    width: 100%;
  }
  .landingPage-wrapper .navbar-brand {
    width: 210px;
  }
  .landingPage-wrapper .landing-page-content .jumbotron {
    height: 59vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
  }
  .landingPage-wrapper .landing-page-content .jumbotron .display-3 {
    font-size: 60px;
  }
  .landingPage-wrapper .landing-page-content .jumbotron .lead {
    font-size: 18px;
  }
  .landingPage-wrapper .landing-page-content .jumbotron .lead.jumbotron-btn {
    margin-top: 20px;
  }
  .landingPage-wrapper .landing-page-content .jumbotron .lead.jumbotron-btn .btn-lg {
    padding: 10px 60px;
    font-size: 20px;
  }
  .landingPage-wrapper .landing-page-content .jumbotron .lead.sub-title {
    width: 80%;
    font-size: 20px;
  }
  .landingPage-wrapper .head-navbar-mod.navbar-light .navbar-nav .nav-link, .landingPage-wrapper .head-navbar-mod.navbar-light .navbar-nav .btn {
    font-size: 13px;
    padding: 5px 8px;
  }
  .landingPage-wrapper .head-navbar-mod.navbar-light .navbar-nav .btn.btn-primary {
    padding: 5px 10px;
  }

  .landing-page-footer {
    min-height: 30vh;
    height: auto;
  }
}
@media (max-device-width: 480px) {
  .landingPage-wrapper {
    height: auto;
    background-size: 345%;
    background-position: 56% 80%;
  }
  .landingPage-wrapper .container {
    width: 100%;
  }
  .landingPage-wrapper .navbar-brand {
    width: 100px;
    margin-top: 0;
  }
  .landingPage-wrapper .landing-page-content .jumbotron {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
  }
  .landingPage-wrapper .landing-page-content .jumbotron .display-3 {
    font-size: 38px;
    text-align: center;
  }
  .landingPage-wrapper .landing-page-content .jumbotron .lead {
    font-size: 12px;
    text-align: center;
    margin-top: -12px;
  }
  .landingPage-wrapper .landing-page-content .jumbotron .lead.jumbotron-btn {
    text-align: center;
  }
  .landingPage-wrapper .landing-page-content .jumbotron .lead.jumbotron-btn .btn-lg {
    padding: 10px;
    font-size: 13px;
  }
  .landingPage-wrapper .landing-page-content .jumbotron .lead.sub-title {
    width: 90%;
    margin: 0 auto;
    font-size: 13px;
    text-align: center;
  }
  .landingPage-wrapper .head-navbar-mod .navbar-toggler {
    padding: 5px 15px;
    margin-top: 20px;
    font-size: 12px;
  }

  .navbar-collapse.show {
    position: fixed;
    width: 100%;
    padding: 20% 0;
    background: rgba(40, 105, 255, 0.9);
    left: 0;
    top: 0;
    z-index: 2;
    height: 70.5vh;
  }

  .navbar-toggler {
    z-index: 3;
  }
  .navbar-toggler[aria-expanded=false] .navbar-toggler-text {
    content: 'Menu';
  }
  .navbar-toggler[aria-expanded=true] .navbar-toggler-text {
    content: 'X';
  }

  .footer-listing:last-child {
    margin-bottom: 10px;
  }

  .footer-list-block {
    margin: 0px 0 5px;
    padding: 5px 0;
    border-bottom: solid 1px #222;
  }
  .footer-list-block .list-head[aria-expanded=true] .icon {
    display: block;
  }
  .footer-list-block .list-head[aria-expanded=true] + .footer-list {
    display: block;
  }
  .footer-list-block .list-head[aria-expanded=false] + .footer-list {
    display: none;
  }
  .footer-list-block .list-head .icon {
    display: block;
  }
  .footer-list-block .footer-list {
    margin-left: 15px;
    margin-bottom: 5px;
  }

  .copyright {
    font-size: 11px;
    display: inline-block;
    line-height: 15px;
  }

  .social-listing {
    margin: 55px 0 15px;
    height: 40px;
    justify-content: center;
  }
}

/*# sourceMappingURL=app.css.map */
